# Local
.DS_Store
.env

# Build
/target

# Assets
/eigentrust-cli/assets/attestation_station.rs
/eigentrust-cli/assets/*-proving-key.bin
/eigentrust-cli/assets/*-public-inputs.bin
/eigentrust-cli/assets/*-proof.bin
/eigentrust-cli/assets/kzg-params-*.bin
