name: Coverage

# Controls when the action will run.
on:
  pull_request:
    branches:
      - "**" # Pull request targeting any branch
  push:
    branches:
      - "master" # Push to master branch

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  coverage:
    name: coverage
    runs-on: ubuntu-latest

    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Rust Cache
        uses: Swatinem/rust-cache@v1.3.0

      - name: Run Tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: '0.15.0'
          args: '--release --locked --out Xml --jobs 16 --timeout 3600 -- --test-threads 16'

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}